



@if (!isCodeForm && !isResetForm) {

    <div class="w-3/4 mx-auto mt-16 font-bold">

        <h3 class="text-center text-main fa-lg">Send Your Email</h3>
    
        <form [formGroup]="emailForm" (ngSubmit)="sendEmail()">
            <label  class="text-main" for="email">Email:</label>
                <input type="email" id="email" class="w-full rounded-lg border-gray-500 mt-2" formControlName="email">

                @if (emailForm.get('email')?.invalid &&emailForm.get('email')?.touched) {

                    <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                    
                       
                  @if (emailForm.get('email')?.getError('required') ) {
                    <p>email is required</p>
                  }
    
                  @else if (emailForm.get('email')?.getError('email') ) {
                    <p>email invalid</p>
                  }
    
                 
                  
                  </div>
    
                }
    
                <button  [disabled]="emailForm.invalid" class="btn-main block ms-auto my-6">Submit 

                    @if (isLoading) {
                        <i class="fa-solid fa-spin fa-spinner"></i>
                       }
                </button>
    
        </form>
    </div>

}


@if(isCodeForm){

    <div class="w-3/4 mx-auto mt-16 font-bold">

        <h3 class="text-center text-main fa-lg">Send Your Code</h3>
    
        <form [formGroup]="codeForm" (ngSubmit)="sendCode()">
            <label  class="text-main" for="code">Code :</label>
                <input type="text" id="code" class="w-full rounded-lg border-gray-500 mt-2" formControlName="code">

                @if (codeForm.get('code')?.invalid &&codeForm.get('code')?.touched) {

                    <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                    
                       
                  @if (codeForm.get('code')?.getError('required') ) {
                    <p>Code is required</p>
                  }
                  
                  @else if (emailForm.get('code')?.getError('pattern') ) {
                    <p>code invalid</p>
                  }
    
                  
                 
                  
                  </div>
    
                }
    
                <button  [disabled]="codeForm.invalid" class="btn-main block ms-auto my-6">Submit 
                    @if (isLoading) {
                        <i class="fa-solid fa-spin fa-spinner"></i>
                       }
                </button>
    
        </form>
    </div>
}


@if (isResetForm) {

    <div class="w-3/4 mx-auto mt-16 font-bold">

        <h3 class="text-center text-main fa-lg">Reset Your Password</h3>
    
        <form [formGroup]="resetDataForm" (ngSubmit)="resetData()">
           <div>
    
            <label for="email" class="text-main">Email :</label>
            <input type="email" id="email" class="w-full rounded-lg border-gray-500 mt-2" formControlName="email">

            @if (resetDataForm.get('email')?.invalid &&resetDataForm.get('email')?.touched) {

                <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                
                   
              @if (resetDataForm.get('email')?.getError('required') ) {
                <p>email is required</p>
              }

              @else if (resetDataForm.get('email')?.getError('email') ) {
                <p>email invalid</p>
              }

             
              
              </div>

            }
    
           </div>
            
             <div >
                    <label  class="text-main" for="password">Password:</label>
                <input type="password" id="password" class="w-full rounded-lg border-gray-500 mt-2" formControlName="newPassword">

                @if (resetDataForm.get('password')?.invalid &&resetDataForm.get('password')?.touched) {

                    <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                    
                       
                  @if (resetDataForm.get('password')?.getError('required') ) {
                    <p>password is required</p>
                  }
    
                  @else if (resetDataForm.get('password')?.getError('pattern') ) {
                    <p>password invalid</p>
                  }
    
                 
                  
                  </div>
    
                }
    
            </div>
            <button [disabled]="resetDataForm.invalid" class="btn-main block ms-auto my-6">Submit 

                @if (isLoading) {
                    <i class="fa-solid fa-spin fa-spinner"></i>
                   }
            </button>
        </form>
    </div>
}
